<ul class="space-y-8 py-6">
    <li class="card-item">
        <span class="card-circle">
            1
        </span>
        <h3 class="card-title">Charlas con Expertos en Seguridad</h3>
        <p class="card-text">
            Profesionales destacados en ciberseguridad compartirán sus experiencias y conocimientos sobre las últimas tendencias en protección de datos, criptografía y gestión de vulnerabilidades.
        </p>
    </li>
    <li class="card-item">
        <span class="card-circle">
            2
        </span>
        <h3 class="card-title">Concurso de Programación en Ciberseguridad</h3>
        <p class="card-text">
            Un desafío en vivo donde los participantes deberán resolver problemas de seguridad informática en escenarios simulados, poniendo a prueba sus habilidades en un entorno competitivo.
        </p>
    </li>
    <li class="card-item">
        <span class="card-circle">
            3
        </span>
        <h3 class="card-title">Networking y Talleres Prácticos</h3>
        <p class="card-text">
            Oportunidades para conectar con otros entusiastas de la seguridad, participar en mesas redondas y asistir a talleres que cubren desde las bases hasta técnicas avanzadas en ciberseguridad.
        </p>
    </li>
</ul>
